<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perifericos</title>
    <!-- CDN booststrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- estilos css -->
      <link rel="stylesheet" href="../STATIC/CSS/productos.css">
</head>
<body>
<!-- marquee gametech -->
    <marquee behavior="cotinue" direction="right">PERIFÉRICOS</marquee>
<!-- header -->
    <div class="container">
        <div class="row">
            <div class="header d-inline-flex justify-contentet-center align-items-center">
                <img src="../STATIC/IMG/Gameth Solution.png" alt="gametech Solution" height="150px" width="150px">
                <h1>Tienda Online Gametech Solution</h1>
            </div>
        </div>
<!-- navbar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="../Index.html">INICIO</a>
        <a class="nav-link text-white" href="./portatile.html">PORTATILES</a>
        <a class="nav-link text-white" href="./Componentes.html">COMPONENTES</a>
        <a class="nav-link text-white" href="./Monitores.html">MONITORES</a>
        <a class="nav-link text-white" href="./perifericos.html">PERIFÉRICOS</a>
        <a class="nav-link text-white" href="./torres.html">TORRES</a>
      </div>
    </div>
  </div>
</nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    <!-- mouse -->
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/mouse g305.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse inalámbrico Logitech G305 LIGHTSPEED</h5>
        <p class="card-text"><b>$ 189.990</b></p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/MOUSE-LOGITECHM350S-.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse M350 S | Logitech</h5>
        <p class="card-text"><b>$ 124.990</b></p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/mouse m607.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse Gamer Griffin M607 Redragon</h5>
        <p class="card-text"><b>$ 114.990</b></p>
      </div>
    </div>
  </div>
  <!-- teclados -->
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/teclado k630.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado K630 DragonBorn RGB Redragon</h5>
        <p class="card-text"><b>$ 229.990</b></p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/Teclado-Logitech-G513-1-600x600.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado G513 RGB | Logitech</h5>
        <p class="card-text"><b>$ 649.990</b></p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/X60BLANCO-PROMOCION-768x768.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado Gamer Logitech Pro X 60 Inalámbrico Lightspeed</h5>
        <p class="card-text"><b>$ 1.019.990</b></p>
      </div>
    </div>
  </div>
  <!-- diademas -->
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/diadema.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diadema Gamer VSG Gemini</h5>
        <p class="card-text"><b>$ 139.990</b></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/G733-PROMO-768x768.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diadema Gamer Inalambrica logitech G733 RGB</h5>
        <p class="card-text"><b>$ 699.990</b></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/Diadema-Logitech-Negra-G-Pro-Inalambrica-1-600x600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diadema PRO X Wireless | Logitech</h5>
        <p class="card-text"><b>$ 940.990</b></p>
      </div>
    </div>
  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

